header {
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
}

.header-custom {
    background-color: #D9DED8;
}

#main-content {
    margin-left: 0;
    margin-top: 3rem;
    transition: margin-left 0.3s ease-in-out;
}

#sidebar {
    width: 250px;
    min-height: 100vh;
    position: fixed;
    top: 30px;
    left: -250px;
    z-index: 1000;
    background-color: #D9DED8;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease-in-out;
    padding-top: 1rem;
}

#sidebar.show {
    left: 0;
}

#sidebar h4 {
    color: #000000;
    text-transform: uppercase;
    font-size: 1.5rem; /* Increased font size */
}

#sidebar ul {
    padding-left: 0;
}

#sidebar ul li a i {
    margin-right: 8px; /* Espacio entre el ícono y el texto */
    color: #000000; /* Color del ícono */
}

#sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem; /* Increased font size */
    display: block;
    padding: 4px 10px; /* Reduced padding */
    border-radius: 5px;
    transition: background-color 0.3s ease;
    white-space: nowrap; /* Prevent text from wrapping */
}

#sidebar ul li a:hover {
    background-color: #38d39f;
    color: black;
}

#sidebar ul li a.active {
    background-color: #38d39f;
    color: black;
}

/* Botones de vista */
.view-options .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem; /* Adjust button font size */
    padding: 8px 12px; /* Adjust button padding */
    width: 120px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.view-options .btn i {
    margin-right: 8px;
}

.view-options .btn.active {
    background-color: #38d39f;
    color: black;
}

.view-options .btn:hover {
    background-color: #006b50;
    color: white;
}

#filterButton {
    width: 100%;
}

@media (min-width: 768px) {
    #filterButton {
        width: auto;
    }
}

/* Productos */
.product-item {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.product-item.show {
    opacity: 1;
    transform: translateY(0);
}

#productContainer.list-view .product-item {
    transition: opacity 0.4s ease, transform 0.4s ease, flex-direction 0.2s ease;
}

.list-view {
    display: flex;
    flex-direction: column;
}

.list-view .product-item {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.list-view .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.list-view .card img {
    width: 200px;
    height: auto;
    max-width: 100%;
    margin-right: 15px;
}

@media (max-width: 575.98px) {
    .list-view .card {
        flex-direction: row;
    }

    .list-view .card img {
        width: 50px;
    }
}

.grid-view {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    justify-content: flex-start;
}

@media (min-width: 992px) {
    .grid-view .product-item {
        flex: 0 0 calc(25% - 30px);
        max-width: calc(25% - 30px);
        margin: 15px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .grid-view .product-item {
        flex: 0 0 calc(33.33% - 30px);
        max-width: calc(33.33% - 30px);
        margin: 15px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .grid-view .product-item {
        flex: 0 0 calc(50% - 30px);
        max-width: calc(50% - 30px);
        margin: 15px;
    }
}

@media (max-width: 575.98px) {
    .grid-view .product-item {
        flex: 0 0 100%;
        max-width: 100%;
        margin: 15px;
    }
}

/* Custom Header */
.header-custom img {
    max-width: 120px;
}

@media (max-width: 320px) {
    .header-custom {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-custom .btn-custom {
        margin-top: 10px;
        align-self: center;
    }

    .header-custom img {
        margin-bottom: 10px;
    }

    #vehicleSearchForm {
        margin-top: 10px;
    }
}

/* Botones personalizados */
.btn-custom {
    background-color: #38d39f;
    color: rgb(10, 10, 10);
}

.btn-custom:hover {
    background-color: #006b50;
    filter: brightness(85%);
    color: white;
}

/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: none;
    z-index: 900;
    transition: opacity 0.3s ease-in-out;
}

.overlay.show {
    display: block;
    opacity: 1;
}

.hide {
    display: none !important; /* Asegúrate de que no se muestre */
}

#sidebar.show {
    display: block !important; /* Ensure the sidebar is displayed when .show is added */
}