:root {
    --primary-color: #38d39f;
    --hover-color: #006b50;
    --background-color: #D9DED8;
    --text-color: #000000;
    --font-family: 'Poppins', sans-serif;
    --btn-radius: 15px;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
}

.header-custom {
    background-color: var(--background-color);
}

#main-content {
    margin-left: 0;
    margin-top: 3rem;
    transition: margin-left 0.3s ease-in-out;
}

#sidebar {
    width: 250px;
    min-height: 100vh;
    position: fixed;
    top: 30px;
    left: -250px;
    z-index: 1000;
    background-color: var(--background-color);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease-in-out;
    padding-top: 1rem;
}

#sidebar.show {
    left: 0;
}

#sidebar h4 {
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 1.5rem;
}

#sidebar ul {
    padding-left: 0;
}

#sidebar ul li a i {
    margin-right: 8px;
    color: var(--text-color);
}

#sidebar ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1rem;
    display: block;
    padding: 7px;
    border-radius: var(--btn-radius);
    border: 1px solid transparent;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
    white-space: nowrap;
}

#sidebar ul li a:hover {
    background-color: var(--hover-color);
    color: white;
}

#sidebar ul li a.active {
    background-color: var(--primary-color);
    color: black;
}

.view-options .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 10px 20px;
    width: auto;
    border-radius: var(--btn-radius);
    border: 1px solid var(--text-color);
    background-color: white;
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.view-options .btn.active {
    background-color: var(--primary-color);
    color: black;
}

.view-options .btn:hover {
    background-color: var(--hover-color);
    color: white;
}

#filterButton {
    width: 100%;
    border-radius: var(--btn-radius);
    border: 1px color: black;
    background-color: transparent;
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

#filterButton:hover {
    background-color: var(--hover-color);
    color: white;
}

@media (min-width: 768px) {
    #filterButton {
        width: auto;
    }
}

.product-item {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.product-item.show {
    opacity: 1;
    transform: translateY(0);
}

#productContainer.list-view .product-item {
    transition: opacity 0.4s ease, transform 0.4s ease, flex-direction 0.2s ease;
}

.list-view {
    display: flex;
    flex-direction: column;
}

.list-view .product-item {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.list-view .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.list-view .card img {
    width: 200px;
    height: auto;
    max-width: 100%;
    margin-right: 15px;
}

@media (max-width: 575.98px) {
    .list-view .card {
        flex-direction: row;
    }

    .list-view .card img {
        width: 50px;
    }
}

.grid-view {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    justify-content: flex-start;
}

@media (min-width: 992px) {
    .grid-view .product-item {
        flex: 0 0 calc(25% - 30px);
        max-width: calc(25% - 30px);
        margin: 15px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .grid-view .product-item {
        flex: 0 0 calc(33.33% - 30px);
        max-width: calc(33.33% - 30px);
        margin: 15px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .grid-view .product-item {
        flex: 0 0 calc(50% - 30px);
        max-width: calc(50% - 30px);
        margin: 15px;
    }
}

@media (max-width: 575.98px) {
    .grid-view .product-item {
        flex: 0 0 100%;
        max-width: 100%;
        margin: 15px;
    }
}

.header-custom img {
    max-width: 120px;
}

@media (max-width: 320px) {
    .header-custom {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-custom .btn-custom {
        margin-top: 10px;
        align-self: center;
    }

    .header-custom img {
        margin-bottom: 10px;
    }

    #vehicleSearchForm {
        margin-top: 10px;
    }
}

.btn-custom {
    background-color: white;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: var(--btn-radius);
}

.btn-custom:hover {
    background-color: var(--hover-color);
    filter: brightness(85%);
    color: white;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: none;
    z-index: 900;
    transition: opacity 0.3s ease-in-out;
}

.overlay.show {
    display: block;
    opacity: 1;
}

.hide {
    display: none !important;
}

#sidebar.show {
    display: block !important;
}