*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
    --color1:#00B74A;
    --color2:#D50032;
    --color3:#32CD32;
    --hover-color: #006b50;
    --background-color: #B0BEC5;
    --text-color: #000000;
    --font-family: 'Poppins', sans-serif;
    --btn-radius: 5px;
}
body{
    font-family: 'Poppins', sans-serif;
}

.login-wave{
	
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.login-container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.login-img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.login-img img{
	width: 500px;
}

.login-form{
	width: 360px;
}

.login-content img{
    height: 100px;
}

.login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

.login-input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-input-div.one{
	margin-top: 0;
}

.login-i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-i i{
	transition: .3s;
}

.login-input-div > div{
    position: relative;
	height: 45px;
}

.login-input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.login-input-div:before, .login-input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: var(--color1);
	transition: .4s;
}

.login-input-div:before{
	right: 50%;
}

.login-input-div:after{
	left: 50%;
}

.login-input-div.focus:before, .login-input-div.focus:after{
	width: 50%;
}

.login-input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.login-input-div.focus > .login-i > i{
	color: #38d39f;
}

.login-input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.login-input-div.pass{
	margin-bottom: 4px;
}

.login-register-link{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

.login-register-link:hover{
	color: var(--color1);
}

.login-submit-btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: var(--btn-radius); 
    outline: none;
    border: none;
    background-color: var(--color1); /* Relleno con color primario */
    font-size: 1.2rem;
    color: #fff;
    font-family: var(--font-family); 
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.login-submit-btn:hover {
    background-color: var(--hover-color); /* Color de fondo en hover */
    transform: translateY(-2px); /* Efecto de levantar ligeramente el botón */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Aumentar la sombra en hover */
}

.login-modal-dialog {
    max-width: 405px; /* Ajusta según sea necesario */
    width: 100%; /* Permite que el modal ocupe el 100% de su contenedor */
    margin: auto; /* Centra el modal */
}

@media screen and (max-width: 1050px) {
    .login-container {
        grid-gap: 5rem;
    }
}

@media screen and (max-width: 1000px) {
    .login-form {
        width: 90%; /* Ajuste el ancho del formulario para que se adapte mejor */
    }

    .login-content h2 {
        font-size: 2.4rem;
        margin: 8px 0;
    }

    .login-img img {
        width: 400px;
    }
}

@media screen and (max-width: 900px) {
    .login-container {
        grid-template-columns: 1fr;
    }

    .login-img {
        display: none;
    }

    .login-wave {
        display: none;
    }

    .login-content {
        justify-content: center;
    }

    /* Centrar el contenido del modal */
    .login-modal-body {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centra horizontalmente */
    }
}

.left-panel{
	background-color: var(--color)
    
}
/* CSS para Cliente*/

.profile-image-container {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
  }

  .image-wrapper {
    width: 100%;
    padding-top: 100%; /* Esto crea un contenedor cuadrado */
    position: relative;
    overflow: hidden;
    border-radius: 50%; /* Esto hace el contenedor circular */
    margin-bottom: 10px;
  }

  .profile-avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Esto asegura que la imagen cubra todo el espacio sin distorsionarse */
  }
.image-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}
.image-preview-item {
    position: relative;
    width: 100px;
    height: 100px;
}
.image-preview-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}
.remove-image {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    cursor: pointer;
}
.card {
    margin-top: 20px;
}
#postContainer {
    margin-top: 20px;
}
.cancel-button {
    background-color: transparent;
    border: 2px solid var(--color2);
    color: var(--color2);
}

.cancel-button:hover {
    background-color: var(--color2); 
    color: white; 
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
    border: 2px solid var(--background-color)}

.save-button {
    background-color: transparent;
    border: 2px solid var(--color1);
    color: var(--color1);}

.save-button:hover {
    background-color: var(--color1); 
    color: white; 
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
    border: 2px solid var(--color1)}

.edit-button{
    background-color: transparent;
    border: 2px solid var(--color1);
    color: var(--color1); 
}
.edit-button:hover {
    background-color: var(--color1); 
    color: white; 
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
    border: 2px solid var(--color1)
}

.close-button {
    background-color: transparent;
    border: 2px solid var(--color2);
    color: var(--color2); 
}

.close-button:hover {
    background-color: var(--color2); 
    color: white; 
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
    border: 2px solid var(--background-color)
}
.close-button {
    background-color: transparent;
    border: 2px solid var(--color2);
    color: var(--color2); 
}

.close-button:hover {
    background-color: var(--color2); 
    color: white; 
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
    border: 2px solid var(--background-color)
}
.save-post-button{
    background-color: transparent;
    border: 2px solid var(--color1);
    color: var(--color1);
}
.save-post-button:hover {
    background-color: var(--color1); 
    color: white; 
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
    border: 2px solid var(--color1)
}
.plan-button {
    border: 1px solid var(--color1); /* Borde con color definido */
    border-radius: var(--btn-radius); /* Bordes redondeados */
}
.btn-edit {
    background-color: var(--color1); 
    border: 2px solid var(--color1); /* Borde con color principal */
    color: var(--text-color); 
    padding: 10px 20px; /* Espaciado interno */
    border-radius: var(--btn-radius); /* Bordes redondeados */
    font-size: 1rem; /* Tamaño de fuente */
    font-family: var(--font-family); /* Fuente definida */
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.btn-edit:hover {
    background-color: var(--color1); /* Relleno al hacer hover */
    color: white; /* Texto blanco en hover */
    transform: translateY(-2px); /* Levantamiento en hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Sombra más profunda en hover */
}


.nav-button {
    background-color: transparent; 
    color: black; 
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-bottom: 10px; /* Espacio entre los botones */
}

.nav-button.active,
.nav-button:hover {
    background-color: var(--color1); 
    color: white; 
}


.add-post-button {
    background-color: var(--color1); 
    color: black; 
    font-size: 1.2rem; 
    padding: 5px 20px; 
    border-radius: var(--btn-radius); 
    cursor: pointer;
    transition: background-color 0.4s ease, color 0.4s ease, box-shadow 0.4s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


.product-item {
    margin: 0; /* Elimina el margen entre las tarjetas */
    padding: 0; /* Asegúrate de que no haya padding extra */
}

.description-container {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Número de líneas permitidas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#noPostsMessage {
    border-radius: var(--btn-radius); /* Bordes redondeados */
    padding: 15px 20px; /* Aumentado el espaciado interno para darle más aire */
    margin-top: 10px; /* Más espacio superior */
    color: var(--text-color); /* Color del texto */
    font-weight: bold; /* Negrita */
    font-size: 1rem; /* Tamaño de fuente ligeramente mayor */
    width: 100%; /* Ancho completo por defecto */
    max-width: 400px; /* Ancho máximo ajustado para pantallas más grandes */
    text-align: center; /* Centra el texto */
    margin: 10px auto; /* Centra el mensaje vertical y horizontalmente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    border: 2px solid var(--color1); /* Ajusta el color al que prefieras */
}


#noPostsMessage:hover {
    transform: translateY(-5px); /* Efecto de levantamiento */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Sombra más intensa en hover */
}

/* Responsividad */
@media (max-width: 768px) {
    #noPostsMessage {
        max-width: 90%; /* Ancho ajustado para pantallas pequeñas */
        font-size: 0.9rem; /* Reducir tamaño de fuente en pantallas pequeñas */
        padding: 12px 15px; /* Ajuste de padding */
    }
}


.plan-card, .custom-plan-card {
    max-width: 400px; /* Ajusta el ancho máximo */
    width: 100%; /* Para asegurarte de que ocupe el 100% de su contenedor */
    border-radius: 15px; /* Esquinas redondeadas más pronunciadas */
    transition: transform 0.3s, box-shadow 0.3s; /* Transición para efectos al pasar el mouse */
}

.plan-card:hover, .custom-plan-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
}

.plan-title {
    font-size: 1.5rem; 
}

.plan-feature {
    background-color: #f8f9fa; /* Color de fondo para resaltar características */
    border: 1px solid #dee2e6; /* Borde sutil */
    border-radius: 10px; /* Esquinas redondeadas */
}

.custom-plan-card {
    background-color: #ffffff; /* Fondo blanco para personalización */
    border: 1px solid #ced4da; /* Borde sutil */
}

.logo-col {
    background-color: var(--background-color);
    
}

.sidebar{
	background-color: white
}
.title-col{
	background-color: var(--background-color);
}

/* CSS para Index*/




.catalog header {
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
}

.catalog .header-custom {
    background-color: var(--background-color);
}

.catalog #main-content {
    margin-left: 0;
    margin-top: -3rem;
    transition: margin-left 0.3s ease-in-out;
}

.catalog #sidebar {
    width: 250px;
    min-height: 100vh;
    position: fixed;
    top: 30px;
    left: -250px;
    z-index: 1000;
    background-color: var(--background-color);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease-in-out;
    padding-top: 1rem;
}

.catalog #sidebar.show {
    left: 0;
}

.catalog #sidebar h4 {
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 1.5rem;
}

.catalog #sidebar ul {
    padding-left: 0;
}

.catalog #sidebar ul li a i {
    margin-right: 8px;
    color: var(--text-color);
}

.catalog #sidebar ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1rem;
    display: block;
    padding: 7px;
    border-radius: var(--btn-radius);
    border: 1px solid transparent;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
    white-space: nowrap;
}

.catalog #sidebar ul li a:hover {
    background-color: var(--hover-color);
    color: white;
}

.catalog #sidebar ul li a.active {
    background-color: var(--primary-color);
    color: black;
}

.catalog .view-options .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 10px 20px;
    width: auto;
    border-radius: var(--btn-radius);
    border: 1px solid var(--text-color);
    background-color: white;
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.catalog .view-options .btn.active {
    background-color: var(--primary-color);
    color: black;
}

.catalog .view-options .btn:hover {
    background-color: var(--hover-color);
    color: white;
}

.catalog #filterButton {
    width: 100%;
    border-radius: var(--btn-radius);
    border: 1px solid black;
    background-color: transparent;
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.catalog #filterButton:hover {
    background-color: var(--hover-color);
    color: white;
}

@media (min-width: 768px) {
    .catalog #filterButton {
        width: auto;
    }
}

.catalog .product-item {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.catalog .product-item.show {
    opacity: 1;
    transform: translateY(0);
}

.catalog #productContainer.list-view .product-item {
    transition: opacity 0.4s ease, transform 0.4s ease, flex-direction 0.2s ease;
}

.catalog .list-view {
    display: flex;
    flex-direction: column;
}

.catalog .list-view .product-item {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.catalog .list-view .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.catalog .list-view .card img {
    width: 200px;
    height: auto;
    max-width: 100%;
    margin-right: 15px;
}

@media (max-width: 575.98px) {
    .catalog .list-view .card {
        flex-direction: row;
    }

    .catalog .list-view .card img {
        width: 50px;
    }
}

.catalog .grid-view {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    justify-content: flex-start;
}

@media (min-width: 992px) {
    .catalog .grid-view .product-item {
        flex: 0 0 calc(25% - 30px);
        max-width: calc(25% - 30px);
        margin: 15px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .catalog .grid-view .product-item {
        flex: 0 0 calc(33.33% - 30px);
        max-width: calc(33.33% - 30px);
        margin: 15px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .catalog .grid-view .product-item {
        flex: 0 0 calc(50% - 30px);
        max-width: calc(50% - 30px);
        margin: 15px;
    }
}

@media (max-width: 575.98px) {
    .catalog .grid-view .product-item {
        flex: 0 0 100%;
        max-width: 100%;
        margin: 15px;
    }
}

.catalog .header-custom img {
    max-width: 120px;
}

@media (max-width: 320px) {
    .catalog .header-custom {
        flex-direction: column;
        align-items: flex-start;
    }

    .catalog .header-custom .btn-custom {
        margin-top: 10px;
        align-self: center;
    }

    .catalog .header-custom img {
        margin-bottom: 10px;
    }

    .catalog #vehicleSearchForm {
        margin-top: 10px;
    }
}

.catalog .btn-custom {
    background-color: white;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: var(--btn-radius);
}

.catalog .btn-custom:hover {
    background-color: var(--hover-color);
    filter: brightness(85%);
    color: white;
}

.catalog .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: none;
    z-index: 900;
    transition: opacity 0.3s ease-in-out;
}

.catalog .overlay.show {
    display: block;
    opacity: 1;
}

.catalog .hide {
    display: none !important;
}

.catalog #sidebar.show {
    display: block !important;
}
